* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: linear-gradient(90deg, #FFB0B9 0%, #FFB0B9 30%, #FFD9DD 30%, #FFD9DD 100%);
}

.contactUs {
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactUs .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactUs .title h2 {
    color: #fff;
    font-weight: 500;
}

.form {
    grid-area: form;
}

.info {
    grid-area: info;
}

.map {
    grid-area: map;
}

.contact {
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas:
        "form info"
        "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3 {
    color: #FFB0B9;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/*form*/
.formBox {
    position: relative;
    width: 100%;
}

.formBox .row50 {
    display: flex;
    gap: 20px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox {
    width: 100%;
}

.inputBox span {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    transform: translate(0px, 0px);
    text-shadow: 2px 4px 5px #fda5da;
    color: #8d8888;
}

.inputBox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #e6e5e5;
}

.inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #e6e5e5;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox input[type="submit"] {
    background: #FFA1AC;
    color: #fff;
    border: none;
    font-size: 1em;
    max-width: 130px;
    font-weight: 300;
    cursor: pointer;
    padding: 9px 12px;
    border-radius: 10px;
    transition: .5s;
    font-family: 'Poppins', sans-serif;
    display: block;
    text-transform: uppercase;
    margin-top: 10px;
}

.inputBox input[type="submit"]:hover {
    background: #ff8391;
    color: #000;
}

.inputBox ::placeholder {
    color: #999;
}

em {
    font-weight: bold;
    font-style: normal;
    color: #f00;
}

/*Info*/
.info {
    background: #FFB0B9;
}

.info h3 {
    color: #fff;
}

.info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #FFD9DD;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p {
    color: #fff;
    font-size: 1.1em;
}

.info .infoBox div a {
    color: #fff;
    text-decoration: none;
}

.sci {
    margin-top: 40px;
    display: flex;
}

.sci li {
    list-style: none;
    margin-right: 15px;
}

.sci li a {
    color: #fff;
    font-size: 2em;
    color: lightslategray;
}

.sci li a:hover {
    color: #FFD9DD;
}

.map {
    padding: 0;
}

.map iframe {
    width: 100%;
    height: 100%;
}

/*Responsive design*/
@media(max-width:991px) {
    body {
        background: #FFD9DD;
    }

    .contactUs {
        padding: 20px;
    }

    .box {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "form"
            "info"
            "map";
    }

    .map {
        min-height: 300px;
    }

    .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .inputBox {
        width: 100px;
    }

    .contact {
        padding: 30px;
    }

    .map {
        min-height: 300px;
        padding: 0;
    }
}